body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    background-image: url('af blanco.png'); /* Reemplaza con la URL de tu imagen */
    background-repeat: repeat; /* Repite la imagen tanto en filas como en columnas */
    background-size: 10vh 10vh;
    animation: moverDiagonal 30s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: auto; /* Asegura que se pueda hacer scroll si el contenido es más alto que la ventana */
  }
  
  @keyframes moverDiagonal {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 100%;
    }
  }
  
  .divisor {
    text-align: center;
    background-color: white;
    padding: 20px;
    margin: 10vh;
    max-width: 60vw;
    width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  #formularioContainer {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
  }
  
  input[type="email"],
  select,
  textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
  }
  
  textarea {
    resize: vertical;
    min-height: 80px;
  }
  
  button {
    background-color: #ffda34;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #bfb357;
  }
  
  @media (max-width: 600px) {
    .divisor {
      width: 95%;
      padding: 15px;
    }
  
    #formularioContainer {
      padding: 15px;
    }
  }
  