body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0;
     /* Permitir el desplazamiento */
    font-family: 'Montserrat', sans-serif;
    
}


/* Reveal */
.reveal {
  opacity: 0;
  filter: blur(10px);
  transition: opacity 2s ease-out, filter 0.5s ease-out;
}

.reveal.visible {
  opacity: 1;
  filter: blur(0);
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
   border-bottom:1px solid white;
}
header h1 {
    margin: 0;
    font-size: 1.5em;
}

.header-text{
    color: white;
}

.header-item {
    transition: transform 0.3s;
}
.header-item:hover {
    transform: scale(1.2);
}
.header-item img {
    width: 20px;
    height: 20px;
}
.header-item a {
  color: white;
  text-decoration: none; /* Elimina el subrayado */
  cursor: pointer;
}
.header-item a:visited,
.header-item a:link {
  color: white;
}


/* Images scroll */

body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0;
    overflow-x: hidden; /* Evita el desbordamiento horizontal y vertical */
}

.main {
    background-color: black; /* Fondo blanco para el contenedor principal */
    padding: 20px; /* Opcional: Añade espacio alrededor del contenido */
    display: flex; /* Usa flexbox si deseas alinear elementos */
    justify-content: center; /* Opcional: Centra el contenido horizontalmente */
    align-items: center; /* Opcional: Centra el contenido verticalmente */
    height: 80%; /* Asegura que el contenedor principal ocupe toda la altura del viewport */
    width: 100%; /* Asegura que el contenedor principal ocupe todo el ancho del viewport */
    box-sizing: border-box; /* Incluye padding en el tamaño total del contenedor */
}
#image-track {

    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Centra el contenedor en el viewport */
    user-select: none; /* Previene la selección de imágenes */
    width: auto; /* Asegura que el contenedor no tenga un ancho fijo que pueda afectar el viewport */
    height: auto; /* Ajusta la altura del contenedor al contenido */
}

#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
}


/* Bienvenidos a Af*/

.welcome {
    display: flex;
    justify-content: center;
    height: 25vh;
    width: 100vw;
    background-color: black;
}

.welcome p {

    color: white;
    font-size: 4vw;
    justify-content: center;
    
}



/* Diseño banner */

.design {
    display: flex;
    justify-content: center;
    height: 25vh;
    width: 100vw;
    background-color: white;
}

.design p {

    font-size: 7vh;
    justify-content: center;

}


/* Contenedores de las remeras */

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    height: 120vh; /* Toma el 100% de la altura de la ventana */
    padding: 40px;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto; /* Centro horizontalmente en caso de que el contenedor no ocupe toda la altura */
}

.main-text {
    font-size: 4vh;
    color: white;
    padding: 1vh;
}

.carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 5vh;
}

.carousel-images {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.carousel-image {
    max-width: 100%;
    max-height: 400px;
    display: block;
    transition: transform 0.5s ease;
}

.arrow {
    background: rgba(0, 0, 0, 0.3);
    border: none;
    color: white;
    font-size: 3vh;
    padding: 1vh;
    cursor: pointer;
    border-radius: 4px;
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}



/* Magic text */

:root {  
    --purple: rgb(183, 170, 83);
    --violet: rgb(241, 223, 79);
    --pink: rgb(255, 250, 163);
  }
  
  @keyframes background-pan {
    from {
      background-position: 0% center;
    }
    
    to {
      background-position: -200% center;
    }
  }
  
  @keyframes scale {
    from, to {
      transform: scale(0);
    }
    
    50% {
      transform: scale(1);
    }
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    
    to {
      transform: rotate(180deg);
    }
  }
  

  
  h1 {
    color: white;
    font-size: 3vh;
    font-weight: 400;
    margin: 0px;
    padding: 7vh;
    text-align: center;
  }
  
  h1 > .magic {
    display: inline-block;
    position: relative;
  }
  
  h1 > .magic > .magic-star {
    --size: clamp(20px, 1.5vw, 30px);
    
    animation: scale 700ms ease forwards;
    display: block;
    height: var(--size);
    left: var(--star-left);
    position: absolute;
    top: var(--star-top);
    width: var(--size);
  }
  
  h1 > .magic > .magic-star > svg {
    animation: rotate 1000ms linear infinite;
    display: block;
    opacity: 0.7;
  }
  
  h1 > .magic > .magic-star > svg > path {
    fill: var(--violet);
  }
  
  h1 > .magic > .magic-text {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
      to right,
      var(--purple),
      var(--violet),
      var(--pink),
      var(--purple)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
  }


  /* REDES */

  .redes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25vw; /* Espacio entre las imágenes */
    padding: 10vw;
}

.redes a {
  display: inline-block;
  transition: transform 0.3s ease; /* Animación suave para el hover */
}

.redes img {
    width: 10vw; /* Ajusta el tamaño de las imágenes según sea necesario */
    height: auto;
}

.redes a:hover {
  transform: scale(1.1); /* Agranda la imagen un 10% al pasar el cursor */
}

/* Boton reservar */

/* Centrar el contenedor del botón debajo del carrusel */
.reserve-button-container {
  text-align: center;
  margin-top: 20px;
}

/* Estilizar el botón */
.reserve-button {
  margin: 1vh;
  padding: 2vh;
  font-size: 16px;
  background-color: #ffb300;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

/* Efecto hover para el botón */
.reserve-button:hover {
  background-color: #ffd500;
  
  color:black;
}


/* PAGINA DE RESERVA */




